@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #0e78f9;
    --primary-text: #dfdfe1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
