.wrap {
    width: 100%;
    min-height: max-content;
    background-color: #f7f7f7;
    // background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    // background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.container {
    padding: 100px 0;
    min-height: 500px;
}
